body{
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
 
  background-image: url(register.jfif);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}
nav{
 
   grid-column-start: 1;
   grid-column-end: 3;
   margin-top: 20px;
   margin-left: 70px;
 

}
nav a{
    text-decoration: none;
    color:rgb(9, 5, 12);
    padding-left: 80px;
    font-size: large;
    
}
form{ 
 margin-top: 30px;
    padding: 30px; 
color: rgb(3, 3, 3);

/*background-color: rgba(249, 249, 250, 0.884);*/
background-color:white;
box-shadow: 2px black ;
border-radius: 15px;
box-shadow: 2px 2px 5px 5px rgb(212, 125, 125) ;
grid-column-start: 2;
grid-column-end: 2;
float: left;


}
input{
    
      margin: 10px;
      border: solid rgb(14, 12, 12) 1px;
      padding-top: 10px;
      border-radius: 5px;
    height: auto;
 width: auto;
 

}
input[type=password]{
    
   
   border: solid rgb(14, 12, 12) 1px;
   padding-top: 10px;
   border-radius: 5px;
 height: auto;
width: auto;


}
#loginbtn{
   padding-right: 25px;
   margin-left: 290px;
   color: aliceblue;
   background-color: black;
   padding-left: 20px;


}
img{
   margin: 50px;
  float: right;
}
 
select{
  margin-top: 10px;
   height: 40px;
   padding-right: 20px;
   padding-left: 20px;
   border-radius: 2px;
 
   border: solid 1px black;
   border-radius: 5px;
   margin-right: 100px;
 }
 p{
   margin-left: 202px;
 }



